<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger tout vers le dossier public
    # On vérifie si la requête ne cible pas déjà le dossier public
    RewriteCond %{REQUEST_URI} !/frontend/public/
    RewriteRule ^(.*)$ frontend/public/$1 [L]
</IfModule>
